PORT=9004

JWT_SECRET = 

DATABASE_HOST=
DATABASE_PORT=24926
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

UPLOAD_DIR=uploads/kyc
MAX_IMAGE_SIZE=1048576 #1 MB
MAX_PDF_SIZE=2097152 # 2 MB



CORS_ORIGINS=


# Notification Service
NOTIFICATION_SERVICE_URL=http://localhost:9005
NOTIFICATION_SERVICE_API_KEY=reffero-internal-api-key